<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # --- Redirect link ---
  Redirect 301 /beranda/tentang /about
  Redirect 301 /beranda/jadwal-dokter /doctor-schedule
  Redirect 301 /beranda/layanan-kami /services
  Redirect 301 /beranda/kontak /contact
  Redirect 301 /beranda/info-kesehatan /info

  # --- Aturan SPA (yang sudah ada) ---
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>