<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

RewriteRule ^beranda/tentang/?$ /about [R=301,L]
RewriteRule ^beranda/jadwal-dokter/?$ /doctor-schedule [R=301,L]
RewriteRule ^beranda/layanan/?$ /services [R=301,L]
RewriteRule ^beranda/kontak/?$ /contact [R=301,L]
RewriteRule ^beranda/info-kesehatan/?$ /info [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [or]
RewriteCond %{REQUEST_FILENAME} -d [or]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

RewriteRule . /index.html [L]
</IfModule>
